@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf),
         url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-stretch: normal;
  }

body{
    margin: 0;
    font-family:'Montserrat'
}

h1{
    font-size: 40px;
    text-align: center;
    font-weight: 800 ;
    font-family:'Montserrat'
}

h2{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

h3{
    font-size: 24px;
    text-align: center;
  }

ul{
    list-style-type: none;
    display: flex;
    
    
  }

.slider{
    width: 400px;
    margin: 30px auto;
    position: relative;
  }
  .slider-viewport{
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
  .slider-content {
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .slider-content img {
    width: 400px;
    height: 400px;
  }
  .slider-nav {
    width: 100%;
    bottom: 30px;
    margin-top: 10px;
    text-align: center;
  }
  .slider-nav a {
    /* -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3); */
    display: inline-block;
    background-color: #9faaa9;
    width: 20px;
    height: 20px;
    margin: 0 8px;
    border-radius: 10px;
  }
  .slider-nav a:hover {
    background-color: rgb(201,184,156) ;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
  }
  #img2:target .slider-content {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  #img3:target .slider-content {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  #img4:target .slider-content {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  #img5:target .slider-content {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }

  .carrousel{
    width: 400px;
    margin: 30px auto;
    position: relative;
  }
  .carrousel-viewport{
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
  .carrousel-content {
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 1s all;
    transition: 1s all;
    
  }
  .carrousel-content img {
    width: 400px;
    height: 400px;
  }
  .carrousel-nav {
    width: 100%;
    bottom: 30px;
    margin-top: 10px;
    text-align: center;
  }
  .carrousel-nav a {
    /* -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3); */
    display: inline-block;
    background-color: #9faaa9;
    width: 20px;
    height: 20px;
    margin: 0 8px;
    border-radius: 10px;
  }
  .carrousel-nav a:hover {
    background-color: rgb(201,184,156) ;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
  }
  #img7:target .carrousel-content {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  #img8:target .carrousel-content {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  #img9:target .carrousel-content {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  #img10:target .carrousel-content {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }

  .nav-footer{
    text-align: center;
    font-style: 20px;
    font-weight: 600;
  }

  .nav-footer2{
    text-align: center;
    font-style: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
  }
  .button{
    width: 348px;
    height: 72px;
    background-color:rgb(201,184,156) ;
    border-radius: 30px;
    text-align: center;
    margin:23px ;
    padding-top: 1px;
    box-shadow:8px 8px 2px 1px rgba(159, 170, 169, .5); 
    font-size: 24px;
  }
  .info-complementaire{
    width: 348px;
    height: 244px;
    background-color:rgb(217,217,217) ;
    text-align: center;
    margin:20px ;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
  }
  .info{
    width: 348px;
    height: 93px;
    background-color:rgb(217,217,217) ;
    text-align: center;
    margin:20px ;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
  }

  #avis {
    font-size: 24px;
    text-align: center;
  }
  #fil{
    font-size: 15px;
    text-align: center;
  }
  .partage{
    justify-content: center;
  }